---
import Head from '../layouts/Head.astro';
import Body from '../layouts/Body.astro';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<html lang="en" class="overscroll-y-none">
  <Head title="Shibe Drill | Archive" description="Shibe Drill's Personal Website" />
  <Body>
    <main slot="content" class="my-6 flex gap-4 align-center justify-center flex-wrap flex-grow">
      <div class="card bg-base-300 lg:w-1/2 w-full h-fit lg:mx-0 mx-6 shadow-xl">
        <div class="card-body">
          <h2 class="card-title text-2xl">Archive</h2>
          <hr class="border-white border-1 my-4" />
          <div>
            <ul class="list-disc list-inside">
              {
                posts.map((post) => (
                  <li>
                    <a href={`/post/${post.id}`} class="no-underline link-primary">
                      <span class="text-accent">
                        {post.data.date.toLocaleString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}
                      </span>
                      <span class="text-base-content">::</span> {post.data.title}
                      <span class="text-base-content">::</span>
                    </a>
                    {post.data.tags.map((tag) => (
                      <span class="badge badge-accent mr-1 text-accent-content">#{tag} </span>
                    ))}
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
      </div>
    </main>
  </Body>
</html>
