---
import Head from '../layouts/Head.astro';
import StaticMD from '../layouts/StaticMD.astro';
import Content from '../content/contact.md';
---

<html lang="en" class="overscroll-y-none">
  <Head title="Shibe Drill | Contact Me" description="Shibe Drill's Personal Website" />
  <StaticMD>
    <div slot="header">Contact Me</div>
    <div slot="body">
      <Content />
    </div>
  </StaticMD>
</html>
