---
interface Props {
  tag: string;
  class?: string;
}

const { tag, class: Class = '' } = Astro.props;
---

<a href={`/tags/${tag}`} class={`badge badge-accent mr-1 text-accent-content ${Class}`}>#{tag}</a>
