---
import type { CollectionEntry } from 'astro:content';
import { marked } from 'marked';
interface Props {
  post: CollectionEntry<'posts'>;
}
const { post } = Astro.props;
---

<div set:html={marked.parse(post.body.split('!-- more --')[0].slice(0, -2))}></div>
