<div id="copyright" class="text-center text-sm mb-6 lg:mx-0 mx-6">
  <p>© Copyright shibedrill {new Date().getFullYear()}. All posts licensed under CC-BY-NC-SA.</p>
  <p>Developed by <a class="underline text-primary" href="https://www.arithefirst.com/">April Hall</a></p>
</div>
