<footer id="copyright" class="text-center text-sm py-6 lg:mx-0 px-6 bg-base-300">
  <p>© Copyright shibedrill {new Date().getFullYear()}. All posts licensed under CC-BY-NC-SA.</p>
  <p>
    Developed by <a class="underline text-primary" target="_blank" rel="norefer" href="https://www.arithefirst.com/"
      >April Hall</a
    > under the <a
      class="underline text-primary"
      target="_blank"
      rel="norefer"
      href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL 3.0</a
    >
  </p>
</footer>
