---
import Footer from './Footer.astro';
import Navbar from './Navbar.astro';
import Prose from '../components/Prose.astro';
---

<body>
  <Navbar />
  <main class="my-6 flex gap-4 align-center justify-center flex-wrap">
    <div class="card bg-base-300 lg:w-3/4 w-full lg:mx-0 mx-6 shadow-xl">
      <div class="card-body">
        <Prose>
          <h2 class="card-title text-2xl"><slot name="header" /></h2>
          <hr class="border-white border-1 my-4 w-48" />
          <slot name="body" />
        </Prose>
        <slot name="image" />
      </div>
    </div>
  </main>
  <Footer />
</body>
